.navbar-logos {
    display: flex;
    gap: 1em;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logos h1, .navbar-logos a {
    font-size: 1.2em;
    letter-spacing: .1em;
    padding: .3em;
    text-shadow: 2px 2px 2px #363636;
    margin: .5em;
    text-decoration: none;
    color: var(--wheat);
  }
  
  .logo-img {
    width: 5em;
    margin: .5em;
  }