:root {
  --soft-black: #2e2b2b;
  --dark-black: #212121;
  --wheat: #e0d6c4;
  --orange-wheat: #f0ab2a;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  background-color: var(--soft-black);
  margin: 0;
}

.header-nav h1, .header-nav a {
  font-size: 1.2em;
  letter-spacing: .1em;
  padding: .3em;
  text-shadow: 2px 2px 2px #363636;
  margin: .5em;
  text-decoration: none;
  color: var(--wheat);
}

.logo-img {
  width: 5em;
  margin: .5em;
}

.logo-loggin {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 80%;
  justify-content: flex-end;
}